/* *{border:1px solid red;} */
body {
	margin: 0;
	font-family: SF Pro Display, sans-serif;
}
@font-face {
	font-family: Blend;
	font-style: normal;
	font-weight: normal;
	src: url("../doc/Blend_REGULAR.woff") format("woff");
}
@font-face {
	font-family: Blend;
	font-style: italic;
	font-weight: normal;
	src: url("../doc/Blend_ITALIC.woff") format("woff");
}
@font-face {
	font-family: FirmFont;
	src: url("/doc/firm.woff") format("woff");
}
a {
	color: black;
}
a:visited {
	color: black;
}
@media (min-width: 500px) {
	#mob{
		display:none;
	}
	#featureDiv {
		display: grid;
		height: 100vh;
		/* flex-direction: column;
        justify-content:center;
        align-items: center; */
		grid-template-columns: 100%;
		grid-template-rows: 10vh repeat(2, 45vh);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	#div1 {
		margin: auto;
	}
	#div2 {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	#div3 {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		text-align: center;
	}
	#container {
		margin-left: 2vw;
		padding-top: 5vh;
	}
	#razdelLogo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10vw;
		height: 100vh;
		text-align: center;
		position: fixed;
		top: 0;
		background-color: black;
	}

	.fontTitle {
		height:fit-content;
	}
	.fontZag {
		font-family: sf pro display;
		font-weight: 900;
		font-size: 12vh;
		line-height: 0.8;
	}
	#lettersHeader{
		display:flex;
		justify-content: center;
		padding-top:10vh;
	}
	#firmVideo {
		margin: 0;
	}
	#fonts-top{
		margin-top:5vh;
		margin-left: 2vw;
		padding:0 1vw 0 1vw;
		position:fixed;
		background-color:white;
	}
	#color1 {
		color: #F6898E;
	}
	#color2 {
		color: #117DF0;
	}

	/* #region  LETTERS HTML */
	#lettersDiv {
		margin-top:15vh;
	}
	
	.imgLetter{
		margin:20px;
		flex-grow: 1;
	}
	
	.flexLetters{
		display:flex;
	}

	.flexLettersIMG{
		display:flex;
		flex-wrap: wrap;
		height:auto;
		justify-content: center;
		align-items: center;
	}
	.flexLettersIMG>img{
		margin:10px;
		width:30%;
		object-fit: contain;
	}
	#Ldiv2 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		position: fixed;
		right: 0%;
		top: 0%;
		text-align: center;
		width: 10%;
		background-color: black;
	}
	
	#letters {
		position: absolute;
		top: 0;
		width: 60vw;
		opacity: 0;
	}

	#svgBlendMobile {
		display: none;
	}

	
	/* #endregion */
}

@media (max-width: 500px) {
	#d,#div1,#div2,#div3 {
		display: none;
	}
	#fonts-top{
		margin-top:5vh;
		margin-left: 2vw;
		padding:0 1vw 0 1vw;
		position:fixed;
		background-color:white;
	}
	#lettersHeader{
		display:flex;
		justify-content: center;
		padding-top:10vh;
	}
	#lettersDiv {
		margin-top:5vh;
	}
	.mContainer {
		margin-top: 5vh;
	}

	.mfontTitle {
		margin-top: 5vh;
	}

	.mfontZag {
		font-family: sf pro display;
		font-weight: 900;
		font-size: 30pt;
		line-height: 0.8;
	}
	#mcolor1 {
		color: #F6898E;
		font-size: 3em;
	}
	#mcolor2 {
		color: #117DF0;
		font-size: 3em;
	}
}
