/* *{border:1px solid red;} */
/* #fontsDiv>*{border:1px solid red;} */
/* #fontContainer>*{border:1px solid red;} */
body{
    margin:0;
    font-family: SF Pro Display, sans-serif;
}
@font-face {
    font-family: Blend;
    font-style: normal;
    font-weight: normal;
    src: url('../doc/Blend_REGULAR.woff') format('woff');
}
@font-face{
    font-family: Blend;
    font-style: italic;
    font-weight: normal;
    src: url('../doc/Blend_ITALIC.woff') format('woff');
}
@font-face{
    font-family: FirmFont;
    src: url('/doc/firm.woff') format('woff');
}
@media  (min-width:500px){
    
    #fonts-top{
        position:fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:10vh;
    }
    .brand{
        height:10vh;
        background-color:black;
        position:sticky;
        display:flex; 
        justify-content: center; 
        align-items: center;
        color:white;
        width:100%;
        top:0;
        z-index: 20;
    }
    #white-link:visited{
        color:white;
    }
    #black-link:visited{
        color:black;
    }

    #featureDiv{
        display:grid;
        height:100vh;
        /* flex-direction: column;
        justify-content:center;
        align-items: center; */
        grid-template-columns: 100%;
        grid-template-rows: 10vh repeat(2, 45vh);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #div1{
        margin:auto;
        /* position: fixed; */
        /* background-color:palegreen; */
    }
    #div2{
        display:flex;
        justify-content:center;
        align-items: center; 
        text-align: center;
        /* background-color: papayawhip; */
    }
    #div3{
        display:flex;
        justify-content:center;
        align-items: center; 
        background-color: black;
        text-align:center;
    }

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ШРИФТЫ */
    #fontsDiv{
        /* display:grid; */
        /* grid-template-columns: 10% 90%; */
        /* grid-template-rows: 100vh; */
        /* grid-column-gap: 0px; */
        /* grid-row-gap: 0px; */
        height:100vh;
        margin-left:10vw;
    }
    #Fdiv1 { 
        display:flex;
        justify-content:center;
        align-items: center; 
        /* margin-top:2vh; */
        width:10vw;
        height:100vh;
        text-align: center;
        position: fixed;
        /* top:0; */
        background-color:black;
    }
    
    .fontContainer{
        display: flex;
        flex-direction: row;
        /* align-content: flex-end; */
        /* justify-content: flex-start; */

        height:30vh;
    }
    .fontTitle{
        font-family: sf pro display;
        font-weight: 900;
        font-size:10vh;
        line-height: 0.8;

        position: absolute;
        bottom: 0;
    }
    #firmVideo{
        margin:0;
    }
    
    /* #green{
        animation: blend 3s infinite ease-in-out;
    }
    @keyframes blend {
        0%{transform:translateX(0px);}
        30%{transform:translateX(50px);}
        70%{transform:translateX(0px);}
        100%{transform:translateX(0px);}
    } */

    #color1{
        color:#FF156E;
        /* -webkit-text-stroke:5px  black; */
    }
    #color2{
        color:#2DFEA6;
        /* -webkit-text-stroke:5px  black; */
    }

    

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!БУКВЫ */
    #lettersDiv{
        display:grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: 100vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height:100vh;
    }
    #Ldiv1 { 
        grid-area: 1/1/2/2;
    }
    #Ldiv2 { 
        display:flex;
        justify-content:center;
        align-items: center; 
        height:100vh;
        position: fixed;
        right:0%;
        top:0%;
        text-align: center;
        width:10%;
    }
    
    #letters{
        position: absolute;
        top:0;
        width:60vw;
        opacity:0;
    }
    
    #svgBlendMobile{
        display:none;
    }

    #m{display:none;}
}



/* ☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎☎ */

@media  (max-width:500px){
    #featureDiv{
        display:none;
    }

    body{
        margin: 0;   
    }

    #div1m{
        display:flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        height: 5vh;
        margin-top:2vh;
    }

    #m_featureDiv{
        display:flex;
        justify-content: space-evenly;
        align-content: center;
        height: 90vh;
    }

    a>img{
        margin:0;
        padding:0;
        height:90vh;
    }

    #fonts-top{
        position:fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:10vh;
        font-size: 20pt;
    }

    #Fdiv1 { 
        display:flex;
        justify-content:center;
        align-items: center; 
        /* margin-top:2vh; */
        width:30vw;
        height:100vh;
        text-align: center;
        position: fixed;
        /* top:0; */
        background-color:black;
    }
}
